<h1>Open Lists</h1>

<div class="lists-container">
  <% @lists.each do |list| %>
    <div class="list-link">
      <%= link_to list.title, list %>
    </div>
  <% end %>
</div>

<%= link_to "...Open a new list", new_list_url %>
