<h1>Open Lists</h1>

<div class="lists-container">
  <% @lists.each do |list| %>
    <div class="list-link">
      <%= link_to list.title, list %>, created by <%= list.owner.username %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="new-list">
    <%= link_to "...Open a new list", new_list_url %>
  </div>
<% end %>
