<h1><%= @list.title %></h1>

<p>
  Voting for this list is still open...
</p>

<% if @list.voters.include?(current_user) %>
  <% @ballot = @list.ballots.find_by(voter: current_user) %>
  <%= link_to "Adjust your ballot", @ballot %>
<% else %>
  <form class="add-ballot-btn" action="/ballots" method="post">
    <input type="hidden" name="list_id" value="<%= @list.id %>">
    <input type="submit" value="Create your ballot">
  </form>
<% end %>
<br><br>
Contributors so far:
<%= @list.voters.pluck(:username).join(", ") %>
