<form id="album_search" action="/discog_search" method="post">
  <input type="text" name="artist" placeholder="artist">
  <input type="text" name="album" placeholder="album">
  <input id="btn" type="submit" value="submit">
</form>
