<form action="/discog_search" method="post">
  <input type="text" name="artist" placeholder="artist">
  <input type="text" name="album" placeholder="album">
  <input type="submit" value="submit">
</form>
