<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/lists">List-o-matic</a>

      <ul class="nav navbar-nav">

        <% if user_signed_in? %>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
          <li><%= link_to "Logout", '/logout' %></li>
        <% else %>
          <li><%= link_to "Register", '/register' %></li>
          <li><%= link_to "Login", '/login' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
